/* .App {
  text-align: center;
  background-image: url('./img/book1.png');
} */

.body {
  background-image: url('../img/book1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 55vw;

}

.welcome {
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
}

h1 {
  margin-left: 33%;
  padding-top: 5%; 
  font-size: 4vw;
  font-family: 'Press Start 2P', cursive;
}

.foot{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}

.clear {
  opacity: 0;
}

.about {
  background-color: black;
  
}

.aboutImg {
  max-width: 4vw;
}

.aboutIcon {
  max-width: 2vw;
}
